<div class="row">
    <div class="col-md-12">
        <div>
            <h3>{{message}}</h3>
            <input type="text" value="" ng-model="name" />
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in people | orderBy: 'firstname' | filter: name">
                        <td>{{person.id}}</td>
                        <td>{{person.firstname}}</td>
                        <td>{{person.lastname}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>